
body {
    font-family:verdana;
}

.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: green;
    max-width:auto;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: grey;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;   
}

.dropdown-content a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: .8;
}


tr{
    padding: 0px;
    text-align: top;
    background-color:#ffffff
}

img:hover {
  opacity: .6;
}

table.center {
    border: 1px solid black;
    border-collapse: separate;
    text-indent: initial;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    border-spacing: 2px;
    font-variant: normal;
    margin: 35px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

td.center, th.center, tr.center {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}